/.idea/.gitignore
/build/reports/tests/1661333443072.0.html
/build/reports/tests/1661333443072.0.png
/build/reports/tests/1661333753409.0.html
/build/reports/tests/1661333753409.0.png
/build/reports/tests/1661334067912.0.html
/build/reports/tests/1661334067912.0.png
/build/reports/tests/1661334871760.0.html
/build/reports/tests/1661334871760.0.png
/build/reports/tests/1661422918846.0.html
/build/reports/tests/1661422918846.0.png
/build/reports/tests/1661515693317.0.html
/build/reports/tests/1661515693317.0.png
/.idea/compiler.xml
/target/test-classes/constructortest/ConstructorMainPageTest.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/test-classes/constructortest/CrossCategoryTest.class
/target/test-classes/profiletest/CrossToProfileAccountTest.class
/target/classes/endpoints/Endpoints.class
/.idea/sonarlint/issuestore/index.pb
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/.idea/jarRepositories.xml
/target/test-classes/logintest/LoginMainPageTest.class
/target/classes/pageobject/LoginPage.class
/target/test-classes/logintest/LoginPersonalOfficeTest.class
/target/test-classes/logintest/LoginProfileRegistrationPageTest.class
/target/test-classes/logintest/LoginProfileToResetPasswordTest.class
/target/test-classes/profiletest/LogOutTest.class
/target/classes/pageobject/MainPage.class
/.idea/misc.xml
/.idea/modules.xml
/pom.xml
/target/test-classes/preentry/PreEntryTest.class
/target/classes/pageobject/ProfilePage.class
/target/test-classes/registrationtest/RegistrationCorrectUserTest.class
/target/test-classes/registrationtest/RegistrationIncorrectUserTest.class
/target/classes/pageobject/RegistrationPage.class
/target/classes/pageobject/ResetPasswordPage.class
/target/classes/endpoints/Tokens.class
/.idea/uiDesigner.xml
/target/classes/user/User.class
/target/classes/user/UserAuthorization.class
/target/classes/user/UserOperations.class
/target/classes/user/UserRegistrationProfile.class
/.idea/vcs.xml
